* { background-color: pink

}

h1 { color: pink;
  background-color: white;
  border: 1px solid: pink;
  font-size: 6em;
  font-family: inherit;
  text-align: center;
}

h2 { font-size: 2em;
    font-family: inherit;
     text-align: center;
}

.container{
  text-align: center;
}